@use "../sass/index" as *;

.appbox {
  height: 100%;
}
.app {
  height: 100%;
  @include animate;
  @include themify() {
    background-color: themed(main-backgroundClr);
  }
}

.background-img {
  position: absolute;

  width: 100%;
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  @include themify() {
    background-image: themed(large-img);
  }
  @media only screen and (max-width: 500px) {
    height: 250px;
    @include themify() {
      background-image: themed(small-img);
    }
  }
}
