@use "../sass/index" as *;

.todo {
  max-width: 60rem;
  margin: auto;
  padding: 15rem 3.5rem 0;
  position: relative;

  @media only screen and (max-width: 500px) {
    padding: 8rem 3.5rem 0;
  }

  &-input {
    height: 5.5rem;
    width: 100%;
    padding-left: 5rem;
    padding-right: 2rem;
    font-size: 1.8rem;
    font-family: inherit;
    @include animate;
    @include themify() {
      background-color: themed(app-backgroundClr);
      color: themed(activeText-clr);
    }
    border: none;
    border-radius: 5px;
    outline: none;
  }

  &-form {
    position: relative;

    &::after {
      content: "";
      height: 2rem;
      width: 2rem;

      @include themify() {
        border: 1.25px solid themed(border-Clr);
      }
      border-radius: 100px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: border 0.3s;
      left: 3%;
    }
  }

  &-con {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__head {
      font-size: 5rem;
      color: $light-001;
    }

    &__btn {
      background: none;
      border: none;
      cursor: pointer;
      transition: all 0.3s;
    }
  }

  &-txt {
    @include animate;
    @include themify {
      background-color: themed(app-backgroundClr);
    }
    box-shadow: 0px 5px 2rem rgba($dark-000, 0.2);
    margin-top: 7rem;
    border-radius: 5px;
    padding: 1.8rem 2rem;
    text-align: center;
    font-size: 2rem;
    color: $medium-orchid;
  }
}

.footer-txt {
  margin-top: 8rem;
  text-align: center;
  font-size: 1.5rem;
  color: $light-004;

  @media only screen and (max-width: 450px) {
    margin-top: 11rem;
  }
}

.attribution {
  margin-top: 3rem;
  text-align: center;
  color: $sky-blue;

  & a {
    color: $medium-orchid;
  }
}

/* Animations */

.animate {
  transform: rotate(360deg);
}
