@use "./sass/index" as *;

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: 450px) {
    font-size: 55%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: $font-family;
  position: relative;
}

.preload * {
  transition: none !important;
}

#root {
  height: 100%;
}
